@font-face {
    font-family: 'Noto-Thin';
    font-weight:normal;
    font-style:normal;
    src: local('Noto-Thin'), url('/static/jpdriller/fonts/Noto/NotoSansCJKjp-Thin.otf') format("opentype");
}

@media (prefers-color-scheme: dark) {

    body {
        display: flex;
        justify-content: center;
        background-color: #1c1c1e;
        color: #fefefe;
        font-family: Arial;
    }

    #wrapper {
        border-style: solid;
        border-width: 2px;

        margin-right: auto;
        margin-left:  auto;

        max-width: 1200px;
        max-height: 600px;

        padding-right: 10px;
        padding-left:  10px;
    }

    #group-container {
        float: left;
        width: 222px;
        border-right: 1px solid black;
        padding-right: 1px;
    }

    #inner-container-right {
        float: left;
        width: 300px;
    }

    #button-container{
        padding-top: 10px;
        text-align: center;
    }

    #response-container {
        font-family: Noto-Thin;
        padding-top: 25px;
        text-align: center;
    }

    #input-container {
        padding-top: 10px;
        text-align: center;
    }

    #grouplabel {
        font-family: Noto-Thin;
        font-size: 18px;
    }

    #groups {
        height: 92%;
        width: 100%;
        outline: none;
        font-size: 18px;
        border: 1px solid transparent;
        border-top: 1px solid black;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    option:hover, option:checked {
      background: -webkit-linear-gradient(left, DodgerBlue 0%, #EFEFEF 100%);
    }

    #response {
        font-family: Noto-Thin;
        font-size: 64px;
        flex-wrap: wrap;
        line-height: 10px;

        animation-duration: .1s;
        animation-iteration-count: 20;
        animation-timing-function: linear;
    }

    #revealtext {
        font-family: Noto-Thin;
        font-size: 20px;
    }

    #note {
        font-family: Noto-Thin;
        font-size: 16px;
        font-style: italic;
    }

    #modal-background {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    #modal-login, #modal-register {
    }

    #userinfo {
        border-bottom: 1px solid black;
        padding: 6.5px;
    }

    #logout, #logreg {
        float: right;
    }

    #scores {
        font-family: Noto-Thin;
        font-size: 16px;
        text-align: center;
        padding-top: 8px;
    }
    #stats {
        font-family: Noto-Thin;
        font-size: 16px;
        text-align: center;
        padding-top: 8px;
    }

    #graph {
/*        border-style: solid;
        border-width: 2px;*/

        margin-right: auto;
        margin-top: 35px;


        max-width: 1200px;
        max-height: 600px;

        background-color: #1C1E1C;
    }

    #graph-container {
        float: left;
        width: 350px;
        height: 100px;
        padding-right: 1px;
    }

    #graphlabel {
        font-family: Noto-Thin;
        font-size: 18px;
    }

    #chartContainer {
        height: 570px;
        border-right: 1px solid black;
    }  

    #wrong-container-right {
        float: left;
        width: 300px;
    }

    #wronglabel {
        font-family: Noto-Thin;
        font-size: 18px;
        border-bottom: 1px solid black;
    }

    #wronglist-container {
        font-family: Noto-Thin;
        font-size: 14px;
        padding-top: 10px;
        padding-left: 5px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        width: 510px;
        height: 500px;
        margin: 0 auto;
    }

    .modal-content {
        background-color: #1c1c1e;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover, .close:focus {
        color: #008CBA;
        text-decoration: none;
        cursor: pointer;
    }


    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        margin-bottom: 10px;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        text-align: left;
        font-size: 14;
        width: 400px;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    #extras{
        font-family: Noto-Thin;
        font-size: 16px;
        text-align: center;

    }
    .extras_timer {
        font-size: 12px;
        position :fixed;
        left:500 ;

    }
    .extras_img img {
        position: fixed;
        left:500 ;
        width: 5%;
        height: auto;
    }
    .extras_player {
        position: fixed;
        left:620 ;
    }
    .extras_about {
        position: fixed;
        left:950 ;
    }
    .extras_tips{
        position: fixed;
        left:1000 ;
    }

    .button_save {
        color: white;
        background-color: #4CAF50; /* Green */
        padding: 6px; 
        border: 2px solid white; 
        border-radius: 4px;
        font-size: 14px;
    }
    .button_save:hover {
        color:  #4CAF50; /* Green */
        background-color: white; 
        border-radius: 50px;
        padding: 6px; 
        border: 2px solid white; 
        border-radius: 4px;
    }

    .button_reveal {
        color: white;
        background-color: #f4511e; /* Orange */
        padding: 7px 16px;
        border: 2px solid;
        border-radius: 4px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        transition: all 0.3s ease 0s;
    }
    .button_reveal:hover {
        color: #f4511e; /* Orange */
        background: white;
        border-color: none;
    }

    .button_skip {
        color: white;
        background-color: #404040; /* Grey */
        padding: 7px 16px;
        border: 2px solid;
        border-radius: 4px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        transition: all 0.3s ease 0s;
    }
    .button_skip:hover {
        color: #404040; /* Grey */
        background: white;
        border-color: none;
        font-weight: 400;
    }


    .button_settings {
        background: #404040; /* Grey */
        color: #ffffff;
        font-weight: 100;
        padding: 3px 8px;
        border: 2px solid;
        float: right;
        border-radius: 3px;
        display: inline-block;
        transition: all 0.3s ease 0s;
    }

    .button_settings:hover {
        color: #404040;
        font-weight: 400;
        letter-spacing: 3px;
        background: white;
        border-radius: 50px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
    }
    .button_option {
        background: #292929; /* Dark Grey */
        color: #ffffff;
        font-weight: 100;
        padding: 3px 4px;
        border: 2px solid;
        float: left;
        border-radius: 3px;
        transition: all 0.3s ease 0s;
    }

    .button_option:hover {
        color: #292929;
        font-weight: 400;
        background: white;
        text-decoration: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        grid-auto-rows: 1px;
        font-family: Noto-Thin;
        font-size: 22px;
        margin-left:  48px;
        grid-template-areas:
            "11 12"
            "13 14"
            "15 16"
            "17 18";
    }

    .shake {
        animation-duration: .1s;
        animation-iteration-count: 10;
        animation-timing-function: linear;
    }

    .shake_up {
        animation-duration: 1.25s;
        animation-iteration-count: 0.5;
        animation-timing-function: linear;    
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: underline;
    }

    a {
        color: #5fa9ee;
    }

    li {
        list-style-type: square;
        font-family: Noto-Thin;
        font-size: 14px;
    }

    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }
  
        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }

    @keyframes shake_up {
        10%, 90% {
            transform: translate3d(0, -1px, 0);
        }
  
        20%, 80% {
            transform: translate3d(0, 2px, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(0, -4px, 0);
        }

        40%, 60% {
            transform: translate3d(0, 4px, 0);
        }
    }

    input[type=text] {
        width: 80%;
        padding: 6px 10px;
        margin: 4px 0;
        box-sizing: border-box;
    }
}
